body {
  background-color: rgb(48, 48, 48);
  color: rgb(255, 255, 255);
  font-family: Outfit;
}



#main-content {
  background-color: rgba(255, 255, 255, 0.19);

  border: 2px rgb(195,	240, 253) solid;
  margin: 60px auto;
  width: 400px;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
}

input {
  padding: 6px 14px;
  margin: 10px;
  min-width: 220px;
  min-height: 12px;
  border: 2px rgb(195,	240, 253) solid;
  border-radius: 12px;
}

button {
  padding: 6px 14px;
  margin: 10px;
  min-width: 120px;
  min-height: 12px;
  /* border: 0px rgb(195,	240, 253) solid; */
  border: none;
  border-radius: 18px;
}

button:active {
  background-color: rgb(240, 248, 255);
}
